# The MariaDB server
[mysqld]
character_set_server           = utf8mb4
collation_server               = utf8mb4_general_ci
# default_time_zone            = Europe/Warsaw

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
# general-log
# log-slow-queries